.sausage {
    width: 14%;
    height: 14%;
    position: absolute;
    background: linear-gradient(to left bottom, #B45F44 , #C68784);
    box-shadow: 5px 10px 20px #DA7C3E inset;
    border-radius: 50%;
    z-index: 20;
}
.sausage1 { left: 25%; top: 25%; }
.sausage2 { left: 26%; top: 62%; }
.sausage3 { left: 60%; top: 25%; }
.sausage4 { left: 60%; top: 62%; }
