.onion {
    position: absolute;
    width: 10%; 
    height: 10%; 
    box-shadow: 3px 0 8px 4px #E9F1F7,
                6px 0 0 5px #D366B6;
    border-radius: 50%;
    z-index: 50;
}
.onion1 { left: 14%; top: 28%; transform: rotate(90deg); }
.onion2 { left: 15%; top: 65%; transform: rotate(45deg); }
.onion3 { left: 35%; top: 45%; }
.onion4 { left: 60%; top: 75%; transform: rotate(180deg); }
.onion5 { left: 50%; top: 14%; transform: rotate(30deg); }
.onion6 { left: 70%; top: 35%; transform: rotate(150deg); }

